{% extends 'base.html.twig' %}

{% block title %}Ajouter une critique pour {{ movie.title }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter une critique pour {{ movie.title }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.content) }}
    {{ form_row(form.rating) }}
    {{ form_row(form.reactions) }}
    {{ form_row(form.watchedAt) }}

    <button type="submit" class="btn btn-primary">Ajouter la critique</button>
    {{ form_end(form) }}
</div>
{% endblock %}