{% extends 'base.html.twig' %}
{% block title %}Page de détail{% endblock %}
{% block body %}
<div class="container bg-lighttt pt-5">

        <div class="row mb-2">
            <div class="col">
                <div class="row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    <div class="col-4 movie__poster img-thumbnail"
                        style="background-image: url({{ movie.poster }});">
                        <img src="{{ asset('images/poster-placeholder.png') }}" class="img-fluid">
                        <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        <a href="" class="movie__favorite fs-1 my-2 mx-3 link-danger"><i class="bi bi-bookmark-plus"></i></a>
                        <strong class="d-inline-block mb-2 text-primary">{{ movie.type }}</strong>
                        <h3 class="mb-1">{{ movie.title }}</h3>
                        <div class="mb-1 text-muted">{{ movie.duration }} min</div>
                        <p>
                        {% for genre in movie.genres %}
                            <span class="badge bg-warning text-dark">{{genre.name}}</span>
                        {% endfor %}
                        </p>
                        <p>{{ movie.synopsis }}</p>
                        <div class="d-flex mb-4" style="color: orange;">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <span class="ps-1">{{ movie.rating }}</span>
                        </div>

                        {% if movie.type == "Serie" %}
                            <h2>{{ movie.seasons|length }} Saisons</h2>
                            <ul class="list-unstyled">
                                {% for season in movie.seasons %}
                                <li><span class="badge bg-danger fs-6 mb-2">Saison {{ season.number }}</span><small class="ms-1">({{ season.episodesNumber }} épisodes)</small></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <dl class="row">
                            <dt class="col-sm-12">Avec</dt>
                            {% for casting in castings %}
                            <dd class="col-sm-12">
                                {{ casting.person.firstname }} {{ casting.person.lastname }} ({{ casting.role }})<br>
                            </dd>
                            {% endfor %}
                            <dt class="col-sm-12">Pays</dt>
                            <dd class="col-sm-12">USA</dd>
                            <dt class="col-sm-12">Année</dt>
                            <dd class="col-sm-12">{{ movie.releaseDate|date('Y') }}</dd>
                        </dl>

                    </div>
                </div>
            </div>
            <a href="{{ path('app_movie_review_add', {'id': movie.id}) }}" class="btn btn-sm btn-warning">Ajouter une critique</a>
        </div>

        <div class="mt-4">
            <h2>Critiques</h2>
            {% for review in reviews %}
                        <div class="mt-3">
                            {# On affiche la date de la review avec l'username de l'auteur #}
                            <strong>Postée le {{ review.watchedAt|date('d-m-Y') }}</strong> par {{ review.username }}<br>
                            {# On affiche le commentaire #}
                            <strong>Commentaire : </strong>{{ review.content }}<br>
                            {# reactions via Twig join #}
                            <strong>Le film m'a fait</strong> : {{ review.reactions|join(', ') }}
                                {# ou via une boucle for #}
                                {# {% for reaction in review.reactions %}
                                {{ reaction ~ ' - ' }}
                                {% endfor %} #}
                            <br>

                            {# <3 Jonas #}
                            <strong>Note : </strong>
                            <div class="d-flex mb-4" style="color: orange;">
                                {% for i in 1..5 %}
                                    {% if i <= review.rating %} <i class="bi bi-star-fill"></i>
                                        {% else %}
                                        <i class="bi bi-star"></i>
                                    {% endif %}
                                {% endfor %}
                                <span class="ps-1">{{ review.rating }}/5</span>
                            </div>

                        </div>
                {% else %}
                <p>Aucune critique disponible pour ce film.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}