{% extends 'base.html.twig' %}

{% block title %}Ma liste{% endblock %}
{% block favoriteActive %}active{% endblock %}

{% block body %}
<div class="container-xl bg-light p-5 border-top">

    <div class="row mb-2">

        <h2 class="text-muted fw-bold mb-4">Ma liste</h2>

        {% for message in app.flashes('add_to_favorite') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if favoris is empty %}
            <p>Votre liste de favoris est vide.</p>
        {% else %}
            
           {% for id in favoris %}
                {% set film = movieRepository.find(id) %} 

                <div class="col-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
                        <div class="col-4 movie__poster" style="background-image: url('{{ film.poster }}');">
                            <img src="images/poster-placeholder.png" class="img-fluid">
                        </div>
                        <div class="col-8 p-4 d-flex flex-column position-static">
                            <a href="{{ path('app_favorite_remove', {'id': id}) }}" class="movie__favorite fs-1 my-2 mx-3 link-danger"><i class="bi bi-bookmark-x-fill"></i></a>
                            <strong class="d-inline-block mb-2 text-primary">{{ film.type }}</strong>
                            <h3 class="mb-1">{{ film.title }}</h3>
                            <div class="mb-1 text-muted">{{ film.duration }} min</div>
                            <a href="{{ path('app_movie_show', {'id': id}) }}" class="fs-1 mt-3 text-danger align-self-start">
                                <i class="bi bi-arrow-right-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}
    </div>

    <div class="col">
        <a href="#" class="btn btn-danger btn-sm" onclick="return confirm('Vider votre liste de favoris ?');">Vider la liste</a>
    </div>

</div>
{% endblock %}